.search-input-wrapper {
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(254, 47, 75, 1);
    box-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #696969;
}

.search-input {
    height: 32px;
    width: 90%;
    margin: 8px auto;
    padding: 0 12px;
    line-height: 32px;
    background-color: #FFF;
    border-radius: 16px;
    vertical-align: top;
}

.search-icon {
    font-size: 12px;
    color: #9F9F9F;
}

.search-default-text {
    font-size: 12px;
    width: 90%;
    margin-left: 16px;
    border: none;
    outline: none;
    height: 24px;
    box-sizing:content-box;
    color: #696969;
}
